/* 顶部 */
/* 导航栏 */
/* 大于1200px */
/* 轮播图 */
#banner {
    height: 310px;
    margin-bottom: 0;
    background: url(../images/banner5.jpg) no-repeat center center;
}

/* 网页位置 */
#position {
    padding-top: 18px;
    line-height: 36px;
    padding-bottom: 18px;
    font-size: 12px;
    color: #8a878e;
    border-bottom: 1px solid #f3f3f3;
    margin-top: 150px;
}

/* 产品区 */
#details {
    padding-top: 45px;
    padding-bottom: 45px;
}

#details .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#details .content .left {
    text-align: center;
    width: 190px;
    height: 600px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: start;
}

#details .content .left i {
    font-size: 40px;
}

#details .content .left .show {
    width: 170px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

#details .content .left ul {
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
}

#details .content .left .show div {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    width: 150px;
    height: 150px;
    left: 50%;
    transform: translateX(-75px);
}

#details .content .left .show div:first-of-type {
    z-index: 2;
}

#details .content .left .show div:last-of-type {
    z-index: 2;
    bottom: 0;
}

#details .content .left ul li {
    width: 150px;
    height: 160px;
    margin-bottom: 10px;
}

#details .content .left ul li img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#details .content .middle {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

#details .content .middle ul {
    display: flex;
    position: absolute;
    height: 500px;
    left: -500px;
    top: 0;
}

#details .content .middle ul li {
    width: 500px;
    height: 500px;
    background-color: rgb(248, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#details .content .middle img {
    width: 350px;
    height: 350px;
    position: relative;
    transition: transform 0.6s;
}


#details .content .right {
    width: 450px;
    height: 500px;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 40px;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    overflow: hidden;
}

#details .right h1 {
    font-size: 40px;
}

#details .right>div {
    margin-top: 25px;
}

#details .right .price {
    font-size: 28px;
}

#details .right span {
    font-weight: bold;
    font-size: 18px;
    color: rgb(84, 84, 84);
}

#details .right .color ul {
    display: flex;
    margin-top: 20px;
}

#details .right .color ul li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#details .right .color ul li span {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#details .right .color ul li:nth-child(1) {
    background-color: rgb(134, 122, 116);
}

#details .right .color ul li:nth-child(2) {
    background-color: rgb(27, 19, 121);
}

#details .right .color ul li:nth-child(3) {
    background-color: rgb(20, 107, 85);
}

#details .right .color ul li:nth-child(4) {
    background-color: lightskyblue;
}

#details .right .size ul {
    display: flex;
    margin-top: 20px;
}

#details .right .size ul li {
    width: 50px;
    height: 40px;
    margin-right: 15px;
    border: 1px solid #dadada;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
}

#details .right .size ul li:hover {
    border: 1px solid rgb(79, 79, 79);
}

#details .right .like {
    font-size: 16px;
    cursor: pointer;
}

#details .right .like i {
    font-size: 20px;
    color: #cccccc;
    vertical-align: text-bottom;
}

#details .right .addcart {
    display: flex;
    justify-content: space-evenly;
}


#details .right .addcart .quantity {
    width: 150px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    justify-content: space-evenly;
}

#details .right .addcart input {
    padding-left: 2px;
    padding-right: 2px;
    width: 30px;
    height: 47px;
    outline: none;
    border: 0px solid #000;
    padding-top: 3px;
    text-align: center;
}

#details .right .addcart .quantity span {
    font-size: 24px;
    display: block;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    cursor: pointer;
}

#details .right .addcart .addto {
    width: 152px;
    height: 52px;
    background-color: rgb(255, 81, 81);
    line-height: 52px;
    text-align: center;
    color: white;
    cursor: pointer;
}


#information .top {
    border-bottom: 1px solid #b4b4b4;
    padding-bottom: 30px;
}

#information .top button {
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    border: 1px solid rgb(203, 203, 203);
    background-color: white;
    font-weight: bold;
}

#information .top .active {
    border: 1px solid rgb(41, 35, 35);
    color: white;
    background-color: rgb(41, 35, 35);
}

#information .content {
    position: relative;
    padding: 40px 0;
}

#information .content .des {
    opacity: 1;
}

#information .content .des p {
    line-height: 30px;
    color: rgb(79, 79, 79);
    font-size: 14px;
    text-align: justify;
}

#information .content .addinfo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    line-height: 40px;
    font-size: 14px;
    color: rgb(79, 79, 79);
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
}

/* 小于1200px */
@media screen and (max-width:1200px) {
    #details .content .left {
        width: 160px;
        height: 500px;
    }

    #details .content .left .show {
        height: 400px;
    }

    #details .content .left ul li {
        width: 130px;
        height: 130px;
        margin-bottom: 5px;
    }

    #details .content .middle {
        width: 400px;
        height: 400px;
    }

    #details .content .middle ul {
        left: -400px;
        height: 400px;
    }

    #details .content .middle ul li {
        width: 400px;
        height: 400px;
    }

    #details .content .right {
        width: 350px;
        height: 400px;
        padding: 10px;
        padding-top: 20px;
    }

    #details .content .right ul li {
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 12px;
    }

    #details .content .right .price {
        font-size: 28px;
        transition: all 0.5s;
    }

    #details .content .right>div {
        margin-top: 15px;
    }

    #details .content .right>div h4>span {
        font-size: 16px;
    }

    #details .content .right .like i {
        font-size: 18px;
    }

    #details .content .right .like {
        margin-bottom: 20px;
        font-size: 14px;
    }

    #details .content .right h1 {
        font-size: 32px;
    }

    #details .content .right .addcart h4 {
        margin-bottom: 10px;
        font-size: 17px;
    }

    #details .right .addcart>div {
        width: 140px;
    }

    #details .right .addcart .addto {
        font-size: 14px;
    }
}

/* 小于992px */

@media screen and (max-width:992px) {

    #details .content {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #details .content .left {
        height: 600px;
    }

    #details .content .left ul li {
        width: 160px;
        height: 160px;
        margin-bottom: 10px;
    }

    #details .content .left .show {
        height: 500px;
    }

    #details .content .middle {
        width: 500px;
        height: 500px;
    }

    #details .content .middle ul {
        left: -500px;
    }

    #details .content .middle ul li {
        height: 500px;
        width: 500px;
    }

    #details .content .right {
        width: 100%;
    }

    #details .content .right {
        padding-left: 30px;
    }

    #details .right .addcart {
        width: 350px;
        display: flex;
        justify-content: space-between;
    }

}

/* 小于768px */

@media screen and (max-width:768px) {
    #details {
        width: 540px;
    }

    #details .content .left {
        width: 100%;
        height: 160px;
        flex-direction: row;
    }

    #details .content .left .show {
        width: 100%;
        height: 100%;
        position: relative;
    }

    #details .content .left .show ul {
        display: flex;
        width: fit-content;
        height: 160px;
        flex-direction: row;
    }

    #details .content .left ul li {
        margin-right: 15px;
        width: 170px;
    }

    #details .content .left .show div:first-of-type {
        z-index: 2;
        left: 80px;
        width: 160px;
        height: 150px;
    }

    #details .content .left .show div:last-of-type {
        z-index: 2;
        width: 160px;
        height: 150px;
        left: 450px;
        top: 0;
        position: absolute;
    }

    #details .content .middle ul li {
        width: 540px;
    }

    #details .content .left i {
        display: none;
    }

    #details .content .middle {
        width: 100%;
    }

    #details .content .middle ul {
        left: -540px;
    }

    #details .content .right {
        margin-top: 20px;
    }


}

/* 小于580px */

@media screen and (max-width:580px) {
    #details {
        width: auto;
    }

    #details .show {
        width: auto;
    }

    #details .content .left {
        height: 200px;
    }

    #details .content .left .show ul li {
        width: auto;
        height: 200px;
    }

    #details .content .left .show ul {
        height: 200px;
    }

    #details .content .show ul li {
        width: auto;
        aspect-ratio: 170/160;
    }

    #details .content .left .show div:first-of-type {
        z-index: 2;
        left: 80px;
        width: 45%;
        height: 150px;
    }

    #details .content .left .show div:last-of-type {
        z-index: 2;
        width: 45%;
        height: 150px;
        left: auto;
        right: 0;
        top: 0;
        transform: translateX(0);
        position: absolute;
    }

    #details .content .middle {
        width: 100%;
        aspect-ratio: 1/1;
    }

    #details .content .middle ul li {
        width: 100%;
    }

    #details .content .middle ul li img {
        width: 100%;
    }

    #details .content .middle ul {
        left: -100%;
        width: 800%;
    }

    #details .right .addcart {
        width: auto;
    }

    #details .content .right .addcart .quantity {
        width: 35%;
    }

    #details .content .right .addcart .addto {
        width: 35%;
        font-size: 12px;
    }

    #information .top button {
        padding: 0;
        box-sizing: border-box;
        width: 40%;
        height: 50px;
        line-height: 50px;
        font-size: 12px;
        border: 1px solid rgb(203, 203, 203);
        background-color: white;
        font-weight: bold;
        overflow: hidden;
    }
}